<div
  class="grid grid-cols-1 lg:grid-cols-3 mt-[1rem] bg-[#E7EAEE] lg:p-[1rem] p-[1rem]"
>
  <div class="flex lg:flex-row flex-col gap-3">
    <div class="flex justify-center items-center">
      <img src="/assets/public/watch.png" alt="" class="h-[100px] w-[100px]" />
    </div>
    <div class="flex flex-col">
      <h1
        class="text-md font-medium mb-[1rem] lg:text-2xl text-ellipsis text-center lg:text-left"
      >
        Apple Watch 7
      </h1>
      <h1
        class="text-[#191D23] font-bold text-md text-2xl lg:hidden text-center"
      >
        $250
      </h1>
      <h1
        class="text-[#64748B] text-sm lg:text-lg font-light text-center lg:text-left"
      >
        Items in stock
      </h1>
    </div>
  </div>
  <div class="flex flex-row gap-3 py-[1rem] justify-center items-center">
    <h1
      class="h-[30px] w-[30px] bg-[#E7EAEE] flex justify-center items-center rounded-full border border-gray-300 p-2"
    >
      -
    </h1>
    <div
      class="h-[30px] lg:w-[50px] w-[30px] flex justify-center items-center rounded-full bg-[#E7EAEE] border border-gray-300 p-2"
    >
      1
    </div>
    <h1
      class="h-[30px] w-[30px] flex justify-center items-center rounded-full bg-[#E7EAEE] border border-gray-300 p-2"
    >
      +
    </h1>
  </div>

  <div class="justify-center items-center flex flex-col">
    <h1
      class="text-[#191D23] lg:font-bold text-md lg:text-4xl mb-[1rem] hidden lg:block"
    >
      $250
    </h1>
    <div
      class="border border-red-400 rounded-lg flex justify-center items-center p-[0.5rem]"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        width="24"
        height="24"
        class="main-grid-item-icon"
        fill="none"
        stroke="red"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
      >
        <polyline points="3 6 5 6 21 6" />
        <path
          d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"
        />
        <line x1="10" x2="10" y1="11" y2="17" />
        <line x1="14" x2="14" y1="11" y2="17" />
      </svg>
    </div>
  </div>
</div>
