<div class="grid grid-cols-1 lg:grid-cols-2">
  <div class="border border-gray-200 p-[1rem] rounded-sm lg:h-[430px]">
    <div>
      <div class="w-full relative bg-gray-100">
        <button
          class="bg-white absolute z-10 top-[50%] left-4 h-[30px] w-[30px] flex justify-center items-center rounded-full px-0"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="18"
            height="18"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="feather feather-chevron-down inline rotate-90"
          >
            <polyline points="6 9 12 15 18 9"></polyline>
          </svg>
        </button>
        <img
          src="https://baconmockup.com/640/360"
          class="max-w-full object-cover rounded-md block mx-auto h-full"
          alt=""
        />
        <ul
          class="lg:bg-white py-2 px-3 rounded-lg absolute bottom-3 left-[48%] z-10 flex gap-2"
        >
          <li
            class="h-[7px] w-[7px] rounded-full bg-black hidden lg:block"
          ></li>
          <li
            class="h-[7px] w-[7px] rounded-full bg-gray-300 hidden lg:block"
          ></li>
          <li
            class="h-[7px] w-[7px] rounded-full bg-gray-300 hidden lg:block"
          ></li>
        </ul>
        <button
          class="bg-white absolute z-10 top-[50%] right-4 h-[30px] w-[30px] flex justify-center items-center rounded-full px-0"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="18"
            height="18"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="feather feather-chevron-down inline -rotate-90"
          >
            <polyline points="6 9 12 15 18 9"></polyline>
          </svg>
        </button>
      </div>
    </div>
    <h1 class="text-lg font-light text-[#252C32] mt-[1rem]">
      DJI Phantom 2 Vision
    </h1>
    <h2 class="font-semibold text-[#252C32] py-2">$599</h2>
    <div class="flex flex-row gap-2">
      <!-- https://feathericons.dev/?search=star&iconset=feather -->
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        width="24"
        height="24"
        class="main-grid-item-icon"
        fill="none"
        stroke="#F8C51B"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
      >
        <polygon
          points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"
        />
      </svg>
      <!-- https://feathericons.dev/?search=star&iconset=feather -->
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        width="24"
        height="24"
        class="main-grid-item-icon"
        fill="none"
        stroke="#F8C51B"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
      >
        <polygon
          points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"
        />
      </svg>
      <!-- https://feathericons.dev/?search=star&iconset=feather -->
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        width="24"
        height="24"
        class="main-grid-item-icon"
        fill="none"
        stroke="#F8C51B"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
      >
        <polygon
          points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"
        />
      </svg>
      <!-- https://feathericons.dev/?search=star&iconset=feather -->
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        width="24"
        height="24"
        class="main-grid-item-icon"
        fill="none"
        stroke="#F8C51B"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
      >
        <polygon
          points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"
        />
      </svg>
      <!-- https://feathericons.dev/?search=star&iconset=feather -->
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        width="24"
        height="24"
        class="main-grid-item-icon"
        fill="none"
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
      >
        <polygon
          points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"
        />
      </svg>
    </div>
    <h1 class="font-light text-[#5B6871] mt-2 text-md">243 Items In Stock</h1>
  </div>
  <div class="p-[2rem]">
    <h1 class="text-[#64748B] text-sm lg:text-md font-light">Edit Product</h1>
    <h1 class="mt-[1rem] text-[#191D23]">Preferred mode of payment</h1>
    <div
      class="grid grid-cols-1 lg:flex lg:justify-between bg-[#F7F8F9] p-[1rem] my-[1rem]"
    >
      <div class="flex flex-row gap-3 items-center">
        <img src="/assets/public/Company_small_logo.png" alt="" />
        <p class="text-[#191D23] text-ellipsis text-md">
          How your customer ...
        </p>
      </div>
      <div class="flex justify-center">
        <select
          name="select"
          class="text-[#64748B] outline-none cursor-pointer bg-[#F7F8F9] px-[1rem]"
          id=""
        >
          <option value="option1" class="">In Person Pick-Up1</option>
          <option value="option1">In Person Pick-Up2</option>
          <option value="option1">In Person Pick-Up3</option>
        </select>
      </div>
    </div>
    <div class="grid grid-cols-2 lg:grid-cols-2">
      <h1 class="text-[#191D23] text-sm lg:text-md pb-[1rem]">
        Variants of this product
      </h1>
      <div class="flex lg:flex-row flex-col gap-3 text-[#EEAC00]">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          width="24"
          height="24"
          class="main-grid-item-icon"
          fill="none"
          stroke="#EEAC00"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
        >
          <circle cx="12" cy="12" r="10" />
          <line x1="12" x2="12" y1="8" y2="16" />
          <line x1="8" x2="16" y1="12" y2="12" />
        </svg>

        <h1 class="text-sm lg:text-lg">Add a variant</h1>
      </div>
    </div>
    <app-product-variants></app-product-variants>
    <app-product-variants></app-product-variants>
    <div class="flex flex-row gap-3 text-[#EEAC00] py-3">
      <img src="/assets/public/view.png" alt="view" class="h-[30px] w-[30px]" />

      <h1 class="text-sm lg:text-lg">View All Variants</h1>
    </div>
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-3">
      <button
        class="py-2 px-4 bg-[#EEAC00] text-white text-center text-sm lg:text-lg rounded-lg"
      >
        Update
      </button>
      <button
        class="py-2 px-4 bg-[#EEAC00] text-white text-center rounded-lg text-sm lg:text-lg"
      >
        Update Product Detail
      </button>
    </div>
  </div>
</div>
