<div class="py-[2rem]">
  <div class="gap-2 flex pb-[1rem]">
    <h1 class="lg:text-2xl text-lg flex items-center font-bold">
      <span> Reports </span>
      <span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          width="24"
          height="24"
          class="main-grid-item-icon font-bold"
          fill="none"
          stroke="#1889F1 "
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="4"
        >
          <polyline points="9 18 15 12 9 6" />
        </svg>
      </span>
    </h1>
    <h1 class="lg:text-2xl text-lg font-bold">Product Insights</h1>
  </div>
  <div class="bg-[#1889F1] w-[70px] py-[1px]"></div>
  <div
    class="grid grid-cols-1 gap-5 lg:flex lg:justify-between items-center pb-[2rem]"
  >
    <div class="text-[#090A0A]">
      <h1 class="py-[2rem] text-2xl font-extrabold">Product Title</h1>
      <h1 class="text-[#757575] text-[20px]">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur,
        pariatur consectetur neque nihil perspiciatis totam nulla temporibus at
        maxime vel illum esse aliquam, possimus quo debitis quae quibusdam
        quasi. Molestias?
      </h1>
    </div>
    <div
      class="flex flex-row gap-3 items-center p-[1rem] border-4 border-[#1889F1] rounded-lg"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        width="24"
        height="24"
        class="main-grid-item-icon"
        fill="none"
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
      >
        <path d="M12 20h9" />
        <path d="M16.5 3.5a2.121 2.121 0 0 1 3 3L7 19l-4 1 1-4L16.5 3.5z" />
      </svg>

      <h1 class="whitespace-nowrap">Manage Product</h1>
    </div>
  </div>
</div>
