<div>
  <div
    class="py-[1rem] flex justify-between items-center border-b border-gray-300"
  >
    <div>
      <h1 class="lg:text-2xl text-lg font-extrabold">
        Product Performance Insights
      </h1>
      <h1 class="text-[#64748B] font-light text-sm lg:text-lg">
        You can use this to provide better services for your clients
      </h1>
    </div>
    <div class="lg:mr-[10rem]">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        width="24"
        height="24"
        class="main-grid-item-icon"
        fill="none"
        stroke="#64748B"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
      >
        <circle cx="12" cy="12" r="1" />
        <circle cx="12" cy="5" r="1" />
        <circle cx="12" cy="19" r="1" />
      </svg>
    </div>
  </div>
  <div
    class="grid grid-cols-1 lg:flex lg:justify-between items-center py-[2rem]"
  >
    <div class="grid grid-cols-1 gap-3 lg:grid-cols-3">
      <div class="border-l-2 border-gray-300">
        <h1 class="text-[#64748B] font-light text-sm lg:text-lg py-2 ml-2">
          Pickup
        </h1>
        <div class="flex flex-row gap-3 items-center">
          <h1 class="font-bold text-lg text-[#191D23] ml-2">62%</h1>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            width="24"
            height="24"
            class="main-grid-item-icon h-[8px] w-8px]"
            fill="#047857"
            stroke="#047857"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
          >
            <path
              d="M10.29 3.86L1.82 18a2 2 0 0 0 1.71 3h16.94a2 2 0 0 0 1.71-3L13.71 3.86a2 2 0 0 0-3.42 0z"
            />
          </svg>

          <h1 class="text-[#047857] text-md font-semibold">10.78%</h1>
        </div>
      </div>

      <div class="border-l-2 border-gray-300">
        <h1 class="text-[#64748B] font-light text-sm lg:text-lg py-2 ml-2">
          Credit
        </h1>
        <div class="flex flex-row gap-3 items-center">
          <h1 class="font-bold text-lg text-[#191D23] ml-2">12%</h1>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            width="24"
            height="24"
            class="main-grid-item-icon h-[8px] w-8px]"
            fill="#047857"
            stroke="#047857"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
          >
            <path
              d="M10.29 3.86L1.82 18a2 2 0 0 0 1.71 3h16.94a2 2 0 0 0 1.71-3L13.71 3.86a2 2 0 0 0-3.42 0z"
            />
          </svg>

          <h1 class="text-[#047857] text-md font-semibold">1.08%</h1>
        </div>
      </div>
      <div class="border-l-2 border-gray-300">
        <h1 class="text-[#64748B] font-light text-sm lg:text-lg py-2 ml-2">
          Cash
        </h1>
        <div class="flex flex-row gap-3 items-center">
          <h1 class="font-bold text-lg text-[#191D23] ml-2">30%</h1>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            width="24"
            height="24"
            class="main-grid-item-icon h-[8px] w-8px]"
            fill="#047857"
            stroke="#047857"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
          >
            <path
              d="M10.29 3.86L1.82 18a2 2 0 0 0 1.71 3h16.94a2 2 0 0 0 1.71-3L13.71 3.86a2 2 0 0 0-3.42 0z"
            />
          </svg>

          <h1 class="text-[#047857] text-md font-semibold">5.90%</h1>
        </div>
      </div>
    </div>
    <div class="flex flex-col">
      <div
        class="border border-[#E7EAEE] rounded-lg px-3 flex flex-row gap-2 items-center"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          width="18"
          height="18"
          class="main-grid-item-icon"
          fill="none"
          stroke="#64748B"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
        >
          <circle cx="11" cy="11" r="8" />
          <line x1="21" x2="16.65" y1="21" y2="16.65" />
        </svg>

        <input
          type="text"
          placeholder="search for product"
          class="py-3 outline-none"
        />
      </div>
      <div class="flex justify-between gap-3 py-[1.5rem]">
        <div class="bg-[#E7EAEE] flex items-center px-2 min-w-[101.5px]">
          <select
            name="select"
            class="bg-[#E7EAEE] text-[#64748B] px-[1rem] outline-none cursor-pointer"
            id=""
          >
            <option value="option1">Monthly</option>
            <option value="option1">Weekly</option>
            <option value="option1">Yearly</option>
          </select>
        </div>
        <div
          class="bg-[#E7EAEE] flex justify-between items-center py-[0.5rem] lg:py-[1rem] px-[1rem] min-w-[101.5px] cursor-pointer"
        >
          <img
            src="/assets/public/filter-icons.png"
            alt=""
            class="h-[20px] w-[20px]"
          />
          <h1 class="text-[#64748B] lg:text-lg text-md">Filter</h1>
        </div>
      </div>
    </div>
  </div>
</div>
